body {
  font-family: "Comfortaa", sans-serif !important;
}
:root {
  /** Level **/
  --level-1-blue: #0d6efd;
  --level-2-green: #198754;
  --level-3-yellow: #ffc107;
  --level-4-orange: #ff8f07;
  --level-5-red: #dc3545;

  /** Black **/
  --joy-palette-common-black: #000;
  --joy-palette-neutral-800: #171A1C;
  --joy-palette-neutral-700: #32383E;
  --joy-palette-neutral-600: #555E68;
  --joy-palette-common-black: #000;
  --joy-palette-neutral-900: #0B0D0E;
  --joy-palette-neutral-600: #555E68;
  --joy-palette-neutral-500: #636B74;
  
  /** Button */
  --action-active: rgba(0, 0, 0, 0.54);
  --action-hover: rgba(0, 0, 0, 0.04);
  --action-selected: rgba(0, 0, 0, 0.08);
  --action-disabled: rgba(0, 0, 0, 0.26);
  --action-disabled-background: rgba(0, 0, 0, 0.12);

  /** Text */
  --text-primary: rgba(0, 0, 0, 0.87); 
  --text-secondary: rgba(0, 0, 0, 0.6); 
  --text-disabled: rgba(0, 0, 0, 0.38);

  --bg-black: rgb(16, 15, 15);
  --light-gray: rgb(239, 239, 239);
  --subtext-color: rgb(160, 160, 160);
}